.App {
  text-align: center;
  
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid blue;
  width: 165px;
}

.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: grey;
  color: white;
  border: 2px solid grey;
}

.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.todoListMain .theList li {
  color: #333;
  background-color: greenyellow;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  list-style: none;
}

body {
  padding: 50px;
  background-color: grey
}

ul.theList {
  padding: 0;
}